header {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}
header .logo {
  height: 30px;
  width: auto;
}
footer {
  background: #1f296b;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer .copyright {
  color: #fff;
  height: 3rem;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 8rem;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.dataContainer .messageForm {
}
.dataContainer .messageForm textarea {
  width: 100%;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: left;
  color: #999;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.dataContainer h3 {
  margin-top: 3rem;
}
.dataContainer .history-item {
  background: #f8f8ff;
  padding: 20px;
  border-bottom: 1px solid #fff;
}
